# ====================== БАЗА ДАННЫХ ======================
bot.db

# ====================== ВРЕМЕННЫЕ ФАЙЛЫ ======================
files/
*.tmp
*.log

# ====================== PYTHON ======================
pycache/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# ====================== MACOS ======================
.DS_Store
.AppleDouble
.LSOverride

# ====================== IDE ======================
.vscode/
.idea/
*.swp
*.swo

# ====================== ДРУГОЕ ======================
config.py.bak
*.bak
ls -a
